<h1>Index Movies</h1>
<% @movies.each do |movie|%>
<p><%= "#{movie.name} / #{movie.year}" %>
   <%= link_to 'Ver', movie %>
   <%= link_to 'Editar', edit_movie_path(movie) %>
   <%= link_to 'Eliminar', movie, method: :delete, data: {confirm: 'Estas Seguro?'} %>
   <%= button_to "Like", favorite_movie_path(movie) %></p><br>
<%end%>

<%= link_to "Crear Peli", movies_new_path %>
